a {
  text-decoration: none !important; }

h1 {
  color: red; }

p {
  color: black; }

.card-course-item {
  margin-top: 18px; }

.user-ava {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  margin-right: 4px; }
